.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}

body {background-color: #4d4948;}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #c3abab;}
tr:nth-child(odd) {background-color: rgba(105, 105, 94, 0.95);}
tr:hover {background-color: #e0eef0;}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


  .container video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }